{% load staticfiles %}
<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Rockledge{% block title %}{% endblock %}</title>
<link rel="shortcut icon" type="image/png" href="{% static "web/favicon.ico" %}"/>
<link rel="stylesheet" href="{% static "main/css/foundation.css" %}"/>
<link rel="stylesheet" href="{% static "main/css/backend.css" %}"/>
<script src="{% static "main/js/vendor/modernizr.js" %}"></script>
{% block header %}{% endblock %}
</head>
<body>
 
<div class="row"><br>
<div class="panel">
<div class="row">
<div class="hide-for-small medium-2 columns">
<a href="{% url 'home' %}" style="padding:0px"><img src="{% static "web/asp.png" %}" alt="Rockledge" name="Rockledge" style="max-width:90px" id="Rockledge"/></a>
</div>
<div class="hide-for-small medium-10 columns" style="text-align:right">
{% if user.is_authenticated %}
    <p>Welcome, {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.get_username }}{% endif %}.<br />
    <a href="{% url 'logout' %}?next={{ request.path }}">Logout</a> &bull; <a href="{% url 'pwd' %}">Change Password</a></p>
{% else %}
<p>Welcome, new user. Please <a href="{% url 'login' %}?next={{ request.path }}">log in</a>.</p>
{% endif %}
</div>
<div class="row">
<div class="small-centered show-for-small-only" style="text-align:center">
<a href="{% url 'home' %}" style="padding:0px"><img src="{% static "web/asp.png" %}" alt="Rockledge" name="Rockledge" style="max-width:90px" id="Rockledge"/></a><br>
{% if user.is_authenticated %}
    <p>Welcome, {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.get_username }}{% endif %}.<br />
    <a href="{% url 'logout' %}?next={{ request.path }}">Logout</a> &bull; <a href="{% url 'pwd' %}">Change Password</a></p>
{% else %}
<p>Welcome, new user. Please <a href="{% url 'login' %}?next={{ request.path }}">log in</a>.</p>
{% endif %}
</div>
</div>
</div>
</div>
</div>

{% block nav %}
{% url 'brothers' as urlBrothers %}
{% url 'calendar' as urlCalendar %}
{% url 'rAll' as urlAll %}
<div class="row show-for-small-only">
<nav class="breadcrumbs">
  <a href="{% url 'brothers' %}" {% ifequal request.path urlBrothers %}class="current"{% endifequal %}>Bros</a>
  <a target="_blank" href="https://www.google.com/calendar/embed?src=cornell.edu_1uiu0h2c6fob5do40vehvurqlk%40group.calendar.google.com&ctz=America/New_York"m{% ifequal request.path urlCalendar %}class="current"{% endifequal %}>Calendar</a>
  <a href="{% url 'rAll' %}" {% ifequal request.path urlAll %}class="current"{% endifequal %}>Rush</a>
</nav><br>
</div>
<div class="row">
<aside class="medium-3 columns hide-for-small">
<div class="panel">
<div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
<section class="section">
<h5 class="title"><a href="{% url 'home' %}">Home</a></h5>
</section>
{% if request.user.is_staff %}
<section class="section">
<h5 class="title"><a href="{% url 'admin:index' %}">Admin Page</a></h5>
</section>
{% endif %}
<section class="section">
<h5 class="title">{% ifnotequal request.path urlBrothers %}<a href="{{ urlBrothers }}">Brothers</a>{% else %}<em>Brothers</em>{% endifnotequal %}</h5>
</section>
<section class="section show-for-large-up">
<h5 class="title">{% ifnotequal request.path urlCalendar %}<a href="{{ urlCalendar }}">Calendar</a>{% else %}<em>Calendar</em>{% endifnotequal %}</h5>
</section>
<section class="section hide-for-large-up">
<h5 class="title"><a target="_blank" href="">Calendar</a></h5>
</section>
<section class="section">
<h5 class="title">{% ifnotequal request.path urlAll %}<a href="{{ urlAll }}">Rush</a>{% else %}<em>Rush</em>{% endifnotequal %}</h5>
</section>
</div>
</div>
</aside>
{% endblock %}
 
 
<div class="medium-9 columns">
 
<div class="panel">
{% block body %}{% endblock %}
</div>
</div>
 
<footer class="row">
<div class="medium-12 columns">
<div class="panel">
<div class="large-10 columns small-centered" align="center">
    <p><font size="3"><strong>Alpha Sigma Phi - Iota Chapter</strong></font><br />
    <font size="2">Rockledge, Cornell University<br />
    <a href="mailto:webmaster@alphasigcornell.org" target="_blank" style="color:#CCCCCC">webmaster@alphasigcornell.org</a></font></p></div>
</ul>
</div>
</div>
</div>
</footer>
<script src="{% static "main/js/vendor/jquery.js" %}"></script>
<script src="{% static "main/js/foundation.min.js" %}"></script>
<script src="{% static "main/js/foundation/foundation.js" %}"></script>
{% block footer %}{% endblock %}
<script>
    $(document).foundation();
	var doc = document.documentElement;
	doc.setAttribute('data-useragent', navigator.userAgent);
</script>
</body>
</html>
