{% extends "main_base.html" %}
{% load staticfiles %}

{% block body %}
<div class="row">
  <div class="medium-12 columns">
    
    <div class="row">
      <div class="medium-6 columns">
        <img width="100%" src="{% static "main/img/stewartave.png" %}">
      </div>
      <div class="medium-6 columns hide-for-small">
        <img width="100%" src="{% static "main/img/topview.jpg" %}">
      </div>
    </div><br />

    <div class="row">
      <div class="large-12 columns">
        <h3>Local History</h3>
        <p>Iota Chapter at Cornell was founded on March 27, 1909, by a group of ten undergraduates. The new fraternity prospered, and in 1913 it moved to its current location overlooking beautiful Fall Creek Gorge.
        <p>Thanks to generous support from our alumni, additions to the Rockledge house have been made regularly over the past 100 years. In 1924, the west and north wings were added, containing 15 single bedrooms and expanded dining and social facilities.</p>
        <p>Alpha Sig has made and continues to make distinctive contributions to the Cornell community. Andrew Dickson White, the first president of and co-founder of Cornell, was initiated into the fraternity at Yale in 1850. He served as the fraternity's national president from 1913 to 1915 and helped found the chapter at Cornell. Other distinctive alumni include past and current deans of the Agriculture, Hotel, and Veterinary colleges at Cornell, and presidents of major corporate firms. </p>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <h3>National History</h3>
        <p> Alpha Sigma Phi was founded at Yale University on December 6, 1845. Three young men: Louis Manigault, Horace Spangler Weiser, and Stephen Ormsby Rhea, all freshmen, met and laid down the basic principles of a society that today counts its membership in the thousands. </p>
        <p> Since 1845, Alpha Sigma Phi has maintained a proud tradition of creating and perpetuating brotherhood for good men coast to coast. Dedicated alumni have long preserved and enriched the "Old Gal's" tradition with a vision for the future that exemplifies the experiences of the past. Through the years, many brothers have noted that Alpha Sigma Phi made a significant contribution early in their lives. With gratitude, these members have remained loyal and are supportive of the Fraternity's future. </p>
        <p> Alpha Sigma Phi's existence has been threatened many times over the last 150 years. The fraternity still managed to pull through these hardships. Therefore, the official symbol of the fraternity is the Phoenix, the mythological bird that rises from its ashes. </p>
        <p> Today, Alpha Sigma Phi is recognized as a fraternity of quality and stature. With over 130 chapters, colonies, and interest groups, and an active expansion effort, the Fraternity continues to offer meaningful services and opportunities to over 2,500 undergraduates and 70,000 living alumni. </p>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <h3>Awards and Notable Alumni</h3>
        <p>The chapter won the 1992 and 1994 Grand Senior President's Awards, a 2011 Alpha Gamma Upsilon Bronze Cup, and the 1987 Gary Anderson Award, the 1960 Service Award, the 2008 Scholarship Award. Iota Chapter had the highest GPA of any fraternity at Cornell University in 2003-2004. Iota Chapter's newsletter is the "Iota Sig".</p>
        <p>Ron Miese, Cornell '03 was Alpha Sigma Phi Scholar of the Year in 2005, and Christopher Wittemann, Cornell '90, was Alpha Sigma Phi Scholar of the Year in 1992.  Linn M. Lung, Cornell '05, was a Kleinoeder Graduate Scholarship winner in 2008.</p>
        <p>Nine alumni of Iota Chapter, including Francis Boland, Cornell '42 have served on the Grand Council or Grand Prudential Committee of Alpha Sigma Phi. Andrew D. White, Yale 1853, was President of Cornell University from its opening to 1885, and served as Grand Senior President of Alpha Sigma Phi. Stephen P. Toadvine, Cornell '19, was instrumental in establishing Alpha Sigma Phi chapters at Syracuse University, Davis and Elkins College, and Penn Military College (now Widener University), served on the Grand Council, and as G.C.A. to the Gamma Xi and Omicron Chapters.  Nicholas Gordon, Cornell '10, serves as an Undergraduate Grand Councilor. In December of 2012, Doug Jones, Cornell '09 joined the Fraternity staff.</p>
        <p>Ratan Tata, Cornell '56, and Former U. S. Secretary of Energy Samuel W. Bodman, Cornell '57 received the Distinguished Merit Awards in 2008 and 2006. 16 initiates have received Delta Beta Xi.</p>
      </div>
    </div>

  </div>
</div>
{% endblock %}