{% extends "base.html" %}
{% load staticfiles %}
{% block title %} - Rush - View All{% endblock %}

{% block body %}
<h2>All Rushes</h2>
{% if pic %}
<p>View just <a href="{% url 'rAll' %}">names</a>?</p>
{% else %}
<p>View with <a href="{% url 'rAllPic' %}">photos</a>?</p>
{% endif %} 
{% if is_rush %}
<fieldset>
  <legend style="background:none;">Rush Chair Settings - <a href="{% url 'rUsers' %}">View Users</a></legend>
  <div class="row">
    <div class="large-6 columns">
      <p>Change Question of the Day</p>
    </div>
    <div class="large-6 columns">
      <div class="row collapse postfix-round">
        <div class="small-9 columns">
          <input id='newqotd' type="text" placeholder="{{ qotd }}">
        </div>
        <div class="small-3 columns">
          <a href="" onClick=" { window.location = '?q=' + document.getElementById('newqotd').value; return false; }" class="button postfix" style="color:#FFF">Update</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <p>{% if va %}Listed below are <i>all</i> rushes in the system. To make a rush inactive (i.e. hide them from the normal view), click &#9832; next to their name. To make a rush active again (i.e. show them in the normal view), click &#9842; next to their name.{% else %}Listed below are active rushes in the system. To make a rush inactive (i.e. hide them from the normal view), click &#9832; next to their name.{% endif %}</p>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <div class="small-9 columns">View all rushes</div>
      <div class="small-3 columns">
        <div class="switch round">
          <input id="on-off-va" type="checkbox" {% if va %}checked{% endif %} onClick=" { window.location = ((this.checked) ? '?va' : '?'); }">
            <label for="on-off-va">
              <span class="switch-on">ON</span>
              <span class="switch-off">OFF</span>
          </label>
        </div>
      </div>
    </div>
    <div class="large-6 columns">
      <div class="small-9 columns">Rush Meeting Mirroring</div>
      <div class="small-3 columns">
        <div class="switch round">
          <input id="on-off" type="checkbox" {% if mirroring %}checked{% endif %} onClick=" { window.location = '?m=' + ((this.checked) ? 1 : 0) {% if va %} + '&amp;va'{% endif %}; }">
            <label for="on-off">
              <span class="switch-on">ON</span>
              <span class="switch-off">OFF</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</fieldset>
{% endif %}


<div class="row">
<div class="small-12 columns">
<table width="100%">
	<thead>
      <tr>
        <th width="5%">#</th>
        {% if not pic %}
        <th style="font-style:italic" width="5%">pic</th>
        {% endif %}
        <th width="20%"><strong><a href="?o=last">Last</a></strong></th>
        <th width="20%"><strong><a href="?o=first">First</a></strong></th>
        <th width="30%" class="show-for-medium-up"><strong><a href="?o=latest_signin_date">Date</a></strong></th>
        {% if pic %}
        <th width="25%"><strong>Picture</strong></th>
        {% endif %}
        {% if is_rush %}
        <th width="5%"></th>
        {% endif %}
      </tr>
  </thead>
  <tbody>
{% for rush in rushes %}
	<tr>
    	<td style="font-weight:normal">{{ forloop.counter }}</td>
        {% if not pic %}
        <td style="text-align:center">{% for sig in signin %}{% if rush.latest_signin == sig %}<ul class="clearing-thumbs" data-clearing><li><a style="text-decoration:none" href='{% if sig.img.url == "rush/no_img.jpeg" %}{% static "" %}{{ sig.img.url }}{% else %}{{ sig.img.url }}{% endif %}'>&#10010;</a></li></ul>{% endif %}{% endfor %}</td>
        {% endif %}
        <td style="font-style:italic"><a href="{% url 'rView' rush.first rush.last %}">{{ rush.last }}</a></td>
        <td style="font-style:italic"><a href="{% url 'rView' rush.first rush.last %}">{{ rush.first }}</a></td>
        <td class="show-for-medium-up" style="padding-left:10">{{ rush.latest_signin_date }}</td>
        {% if pic %}
        <td style="text-align:center">{% for sig in signin %}{% if rush.latest_signin == sig %}<ul class="clearing-thumbs" data-clearing><li><a href='{% if sig.img.url == "rush/no_img.jpeg" %}{% static "" %}{{ sig.img.url }}{% else %}{{ sig.img.url }}{% endif %}'><img width="120" height="90" src="{% if sig.img_small.url == 'rush/no_img.jpeg' %}{% static "" %}{{ sig.img_small.url }}{% else %}{{ sig.img_small.url }}{% endif %}"></a></li></ul>{% endif %}{% endfor %}</td>
        {% endif %}
        {% if is_rush %}
        <td style="text-align:center">{% if rush.active %}<a style="text-decoration:none" onClick="return confirm('Are you sure you want to make \'{{rush.first}} {{rush.last}}\' INACTIVE?');" href="{% url 'rView' rush.first rush.last %}?a=0&amp;n{% if va %}&amp;va{% endif %}">&#9832;</a>{% else %}<a style="text-decoration:none" onClick="return confirm('Are you sure you want to make \'{{rush.first}} {{rush.last}}\' ACTIVE?');" href="{% url 'rView' rush.first rush.last %}?a=1&amp;n{% if va %}&amp;va{% endif %}">&#9842;</a>{% endif %}</td>
        {% endif %}
    
  </tr>
{% endfor %}
</tbody>
</table>
</div>
</div>

<div id="viewImg" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Rush Name</h2>
  <div class="row">
  <div class="small-10 small-centered columns">
  <img id="modalImg" src="">
  </div></div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
{% endblock %}

{% block footer %}
<script src="{% static "main/js/foundation/foundation.reveal.js" %}"></script>
<script src="{% static "main/js/foundation/foundation.clearing.js" %}"></script>
{% endblock %}
